<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || "PXU TPL" %></title>
    
    <%= stylesheet_link_tag "main" %>
    <% if current_page.data.css %>
    <%= stylesheet_link_tag current_page.data.css %>
    <% end %>
  </head>
  
  <body class="<% if current_page.data.body_class %><%= current_page.data.body_class %><%end %>">
    <div class="container">
      <header class="main-header">
        <h1>Transition Pattern Library</h1>
        <div class="breadcrumbs">
          <% if current_page.parent %>
            <a href="/">Home</a> / <% if current_page.parent %><%= link_to current_page.parent.data.title, current_page.parent %> / <% end %><%= data.page.title %>
          <% end %>
        </div><!-- breadcrumbs -->
      </header>
      <div class="content">
        <%= yield %>
      </div><!-- content -->
    </div><!-- container -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <%= javascript_include_tag "main" %>
    <% if current_page.data.js %>
    <%= javascript_include_tag current_page.data.js %>
    <% end %>

  </body>
</html>